@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe3bb;
  text-align: center;
  font-family: 'Rowdies', cursive;
}

/* header styles */
header {
  display: flex;
  align-items: center;
  margin: 5vh 5vw;
}

header h1 {
  font-size: 42px;
  padding: 25px;
}

header img {
  height: 75px;
  width: auto;
}

/* other base elements starting points */
h1 {
  color: #ff7000;
}

h2 {
  color: rgb(255, 112, 0, 0.81);
}

button {
  background-color: #dd7000;
  color: #dbdbdb;
  font-size: 24px;
  border: none;
  width: 250px;
  height: 65px;
  border-radius: 20px;
}

button a {
  color: #dbdbdb;
  text-decoration: none;
}

button:hover {
  background-color: #ce6802;
  cursor: pointer;
}
