/* for the header of inputs */
.input-section {
  background-color: rgb(149, 65, 0, 0.19);
  margin: 15vh 25vw 3vh 25vw;
}

.input-names {
  display: flex;
  justify-content: space-around;
}

h3 {
  padding: 25px;
}

/* for inputs of weight heigh age */
.text-inputs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 1vw;
}

.text-inputs input {
  background-color: rgb(149, 65, 0, 0.19);
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 25px;
  padding-left: 12px;
}

/* for difficulty selector */

#difficulty-header {
  margin-bottom: 50px;
}

.difficulty-selector {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

/* .difficulty-selector input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

.difficulty-selector label {
  margin-bottom: 8vh;
  font-size: 20px;
  border-radius: 25px;
  width: 130px;
  height: 32px;
  padding-top: 4px;
  align-items: center;
}

.difficulty-selector label:hover {
  cursor: pointer;
}

#easy {
  background-color: #2fce08;
}
#easy:hover {
  background-color: #2cbd08;
}

#average {
  background-color: #ffa800;
}
#average:hover {
  background-color: #ec9f03;
}

#intense {
  background-color: #de2424;
}
#intense:hover {
  background-color: #bb1e1e;
}

.selected-difficulty {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
}
