{%extends "index.html"%}
<!-- Title -->
{%block title%}
<title>User Input</title>
{%endblock%}
<!-- Styles -->
{%block styles%}
<link rel="stylesheet" href="/static/CSS/user_form.css" />
{%endblock%}
<!-- content -->
{%block content%}
<div class="input-section">
  <form id="user-inputs" action="" method="post">
    <!-- input header -->
    <div class="input-names">
      <h3>Weight (LB)</h3>
      <h3>Height (IN)</h3>
      <h3>Age</h3>
    </div>
    <!-- inputs -->
    <div class="text-inputs">
      <input id="weight" type="text" name="weight" />
      <input id="height" type="text" name="height" />
      <input id="age" type="text" name="age" />
    </div>
    <!-- difficulty selector -->
    <h3 id="difficulty-header">Difficulty</h3>
    <div class="difficulty-selector">
      <input type="radio" id="easy" name="difficulty" value="1" />
      <label id="easy" for="easy">EASY</label><br />
      <input type="radio" id="average" name="difficulty" value="2" />
      <label id="average" for="average">AVERAGE</label><br />
      <input type="radio" id="intense" name="difficulty" value="3" />
      <label id="intense" for="intense">INTENSE</label>
    </div>
  </form>
</div>
<button form="user-inputs" id="submit" onclick="storeValues()">
  Generate Workout
</button>
<script src="/static/JS/user_data.js"></script>
<script src="/static/JS/form.js"></script>
{%endblock%}
