{%extends "index.html"%}
<!-- Title -->
{%block title%}
<title>User Input</title>
{%endblock%}
<!-- Styles -->
{%block styles%}
<link rel="stylesheet" href="/static/CSS/user_form.css" />
{%endblock%}
<!-- content -->
{%block content%}
<div class="input-section">
  <form action="POST">
    <!-- input header -->
    <div class="input-names">
      <h3>Weight</h3>
      <h3>Height</h3>
      <h3>Age</h3>
    </div>
    <!-- inputs -->
    <div class="text-inputs">
      <input type="text" />
      <input type="text" />
      <input type="text" />
    </div>
    <!-- difficulty selector -->
    <h3>Difficulty</h3>
    <div class="difficulty-selector">
      <input type="radio" id="easy" name="difficulty" value="1" />
      <label for="easy">EASY</label><br />
      <input type="radio" id="average" name="difficulty" value="2" />
      <label for="average">MEDIUM</label><br />
      <input type="radio" id="INTENSE" name="difficulty" value="3" />
      <label for="javascript">INTENSE</label>
    </div>
  </form>
</div>
{%endblock%}
